<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ShellStrikeService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <ShellStrikeService.Properties.Settings>
      <setting name="PlinkPath" serializeAs="String">
        <value>C:\putty\plink.exe</value>
      </setting>
      <setting name="ThreadLimit" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="ThreadMaxTimeout" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="ShellTCPBinding" serializeAs="String">
        <value>net.tcp://localhost:9900/ShellData</value>
      </setting>
      <setting name="FetchInterval" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="CommandEndTimeout" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="CommandWait" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="OutputRetryAttemps" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DoOutputLogs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DoRawOutputLogs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DoProcessLogs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dBColdStrikeConnectionString" serializeAs="String">
        <value>Data Source=ISB-SSO-DB1;Failover Partner=LHE-SSO-DB1;Initial Catalog=dBColdStrike;User ID=ssoadmin;Password=***</value>
      </setting>
    </ShellStrikeService.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>

</configuration>
